
{% extends 'base.html.twig' %}


{% block title %} Menu Obrero {% endblock %}

{% block body %}

 <header id="cabecera">
        <h2>BIENVENIDO Obrero</h2>
    </header>

    <div id="menu">    
        <ul class="nav">

            <li><a href="#" >Inicio</a> </li>
            
            <li><a href="#" class="dropdown-toggle active">Consulta </a>
                <ul>
                    <li><a href="">Lideres</a></li>
                    <li><a href=" ">Miembros por Ministerio</a></li>
                    <li><a href=" ">Miembros Bautizados</a></li>
                </ul>
            </li>

            <li><a href="#" class="dropdown-toggle active">Tesoreria</a></li>

            <li><a href="#" class="dropdown-toggle active">Reporte</a>
                <ul>
                    <li><a href=" ">Reporte Miembros</a></li>
                </ul>
            </li>

            <li><a href=" ">salir</a></li>

        </ul>
    </div>

</br>
</br>


<footer>
    <h1>VISION</h1>
        <p>Expandir el evangelio a toda la humanidad para alcanzar la vida eterna.</p>

    <H1>MISION</H1>
        <p>Evangelizar a la humanidad para restaurarlo y discipular a los miembros de la iglesia para cumplir el mandato de Dios, practicando la comunión entre ellos.  </p>
</footer>
{% endblock %}