{% extends 'baseObrero.html.twig' %}

{% block title %}Reporte Ministerio{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="alert alert-info">Reporte ministerio</h2>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class=" table table-bordered">
						<tr>
							<th>Nombre Ministerio</th>
							<th>Fecha</th>
							<th>Descripcion</th>
						</tr>

						<tbody>
							{% for ministerio in ministerios %}
							<tr>
								<td>{{ministerio.Nombre}}</td>
								<td>{{ministerio.Fecha|date('d/m/Y')}}</td>
								<td>{{ministerio.Descripcion}}</td>

								<td>
									<a class="btn btn-danger" href='{{path('detalleObreroministerio', {id:ministerio.idMinisterio})}}'>
										<i class="fas fa-file-pdf fa-2x"></i> Ver 
									</a>
								</td>
								
							</tr>    
							{% endfor %}
						</tbody>
					</table>
    </div>
    
</div>
{% endblock %}