
{% extends 'base.html.twig' %}


{% block title %} Menu Administrador {% endblock %}

{% block body %}

 <header id="cabecera">
        <h2>BIENVENIDO AL MENU DEL SISTEMA</h2>
    </header>

    <div id="menu">    
        <ul class="nav">

            <li><a href="#" >Inicio</a> </li>
            
            <li><a href="#" class="dropdown-toggle active">Registros </a>
                <ul>
                    <li><a href="">Miembro</a></li>
                    <li><a href="">Usuario</a></li>
                    <li><a href="">Bautizo</a></li>
                    <li><a href="">Lider Ministerio</a></li>
                    <li><a href="">Miembros Por Ministerio</a></li>
                    <li><a href="">Presentacion</a></li>
                </ul>
            </li>

            <li><a href="#" class="dropdown-toggle active">Tesorería</a>
                 <ul>
                    <li><a href=" " >Registro Ingresos</a></li>
                    <li><a href=" ">Registro de Gastos</a></li>
                </ul>
            </li>

            <li><a href="#" class="dropdown-toggle active">Reporte</a>
                <ul>
                    <li><a href=" ">Reporte Ofrenda</a></li>
                    <li><a href=" ">Reporte Miembros</a></li>
                </ul>
            </li>

            <li><a href=" ">salir</a></li>

        </ul>
    </div>

</br>
</br>


<footer>
    <h1>VISION</h1>
        <p>Expandir el evangelio a toda la humanidad para alcanzar la vida eterna.</p>

    <H1>MISION</H1>
        <p>Evangelizar a la humanidad para restaurarlo y discipular a los miembros de la iglesia para cumplir el mandato de Dios, practicando la comunión entre ellos.  </p>
</footer>
{% endblock %}