{% extends 'base.html.twig' %}

{% block title %}Reporte Miembros{ Bautizados{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="alert alert-info">Reporte Miembros Bautizados</h1>
</div>

{% endblock %}