{% extends 'base.html.twig' %}

{% block title %}Reporte Ministerios{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="alert alert-info">Reporte Ministerios</h1>
</div>

{% endblock %}