{% extends 'base.html.twig' %}

{% block title %}Reporte Lideres{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="alert alert-info">Reporte Lideres</h1>
</div>

{% endblock %}