{% extends 'base.html.twig' %}

{% block title %}Reporte Miembros{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="alert alert-info">Reporte Miembros</h1>
    <br>

    <a class="btn btn-danger btn-lg" href="">
        <i class="fas fa-file-pdf fa-2x"></i> Ver todos
    </a>
</div>

{% endblock %}