{% extends 'base.html.twig' %}

{% block title %}Reporte tesoreria{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="alert alert-info">Reporte Tesoreria admin</h1>
</div>

{% endblock %}