{% extends 'base.html.twig' %}
{% block title %}
	Tesoreria    
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="alert alert-info">
			Tesoreria
		</h1>
	</div>   
{% endblock %}