{% extends 'base.html.twig' %}


{% block body %}

	<div class="container-fluid">
		<h3 class="alert alert-info">Ventana de Usuarios</h3>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-danger" href="{{path('nuevoUsuario')}}">
				<i class="fa fa-plus"></i> Nuevo usuario
			</a>
			<br />
			<br />
			<div class="table-responsive">
				<table class=" table table-hover">
					<tr>
						<th>Username</th>
						<th>Rol</th>
					</tr>

					<tbody>
						{% for usuario in usuarios %}
						<tr>
							<td>{{usuario.Username}}</td>
							<td>{{usuario.Rol}}</td>
							<td>
								<a type="button" class="btn btn-default" href="{{path('editarUsuario',{id:usuario.Idusuario})}}">
									<i class="fas fa-user-edit fa-2x"></i> Editar
								</a>
							</td>
						</tr>    
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

	</div>



{% endblock %}